
@media (max-width: 767px) {

    .center {
        padding-left: calc(50% - 173px);
        padding-right: calc(50% - 173px);
    }

    .top {
        height: 100%;
        min-width: 320px;
        background-image: url(img/mintopstars.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .heading {
        width: 343px;
        padding-top: 147px;
        padding-bottom: 131px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .heading__texts {
            width: 296px;

            .heading__texts__title {
                min-width: 265px;
                font-size: 40px;
                line-height: 49px;
                text-align: center;
            }

            .heading__texts__text {
                width: 296px;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
        }

        .heading__link {
            display: flex;
            justify-content: center;
            font-size: 16px;
            width: 285px;
            height: 55px;
            
            .heading__link:hover {
                border: 1px solid $color-text;
                background: $color-text;
                color: $bg-color;
            }
        } 
    }

    .of-games {
        display: none;
    }

    .of-gemes__block {
        display: none;
    }

    .mav {
        display: none;
    }

    .block-mod {
        display: block;
        padding-bottom: 48px;

        .block-mod__title {
            padding-top: 48px;
            padding-bottom: 48px;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: left;
            color: $bg-color;
        }

        .block-mod__carts {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            padding-bottom: 48px;
        }
    }



    .article__card {
        width: 343px;
        height: 100%;
        display: flex;
        flex-direction: column;

        .article__card__img {
            width: 100%;
            height: 100%;
        }

        .article__card__text {
            padding: 29px;
            padding-bottom: 32px;
            display: flex;
            flex-wrap: wrap;

            .article__card__text__number {
                display: none;
            }

            .article__card__text__title {
                font-family: Montserrat;
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                text-align: left;
                width: 285px;
            }

            .article__card__text__text {
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                width: 285px;
                padding-top: 16px;
                padding-bottom: 24px;
            }

            .article__card__text__number-2 {
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 600;
                line-height: 141.69%;
                width: 285px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;

                .article__card__text__number-2:hover {
                    color: $bg-color;
                    background-color: $color-text;
                }
            }
        }
    }
    

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width: 374px) {

    .center {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }

    .heading {
        width: 300px;
    }

    .heading__texts {
        width: 286px;
    }

    .of-games {
        display: none;
    }

    .of-gemes__block {
        display: none;
    }
    
    .article__card {
        max-width: 300px;
    }

    .article__card__text {
        padding: 16px;
    }

    .article__card__text__number-2 {
        width: 268px;

        .article__card__text__number-2:hover {
            color: $bg-color;
            background-color: $color-text;
        }
    }
}