
@media (max-width: 767px) {

    .center {
        padding-left: calc(50% - 173px);
        padding-right: calc(50% - 173px);
    }

    .top {
        height: 100%;
        min-width: 320px;
        background-image: url(img/mintopstars.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .heading {
        width: 343px;
        padding-top: 147px;
        padding-bottom: 131px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__texts {
            width: 296px;

           &_title {
                min-width: 265px;
                font-size: 40px;
                line-height: 49px;
                text-align: center;
            }

            &_text {
                width: 296px;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
        }

       &__link {
            display: flex;
            justify-content: center;

            &_button {
                font-size: 16px;
                width: 285px;
                height: 55px;

                &:hover {
                    border: 1px solid $color-text;
                    background: $color-text;
                    color: $bg-color;
                }
            }
        } 
    }

    .of-games {
        display: none;
    }

    .of-gemes__block {
        display: none;
    }

    .mav {
        display: none;
    }

    .block-mod {
        display: block;

        &__title {
            padding-top: 48px;
            padding-bottom: 48px;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            text-align: left;
            color: $bg-color;
        }

        &__carts {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            padding-bottom: 48px;
        }
    }

    .link-mod {

        &__card {
            width: 343px;

            &_text {
                padding: 29px;
                padding-bottom: 32px;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                &_button {
                    display: none;
                }

                &_button-2 {
                    margin-top: 16px;
                }
            }
        }
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}

@media (max-width: 376px) {

    .center {
        padding-left: calc(50% - 150px);
        padding-right: calc(50% - 150px);
    }

    .heading {
        width: 300px;
    }

    .heading__texts {
        width: 286px;
    }

    .of-games {
        display: none;
    }

    .of-gemes__block {
        display: none;
    }
    
    .link-mod__card {
        max-width: 300px;
    }
}