
@import 'vars';

* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 800px;
    background-image: url(img/topstars.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .top__header {
        
    }
}

.heading {
    padding-top: 196px;

    &__texts {
        width: 768px;

        &__title {
            font-size: 64px;
            font-weight: 700;
            line-height: 78px;
            text-align: left;
            font-family: Montserrat;
        }

        &__text {
            width: 720px;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            margin-top: 24px;
            margin-bottom: 48px;
            font-family: Montserrat;
        }

    }
    
    &__link {
        border: 1px solid $color-text;
        width: 247px;
        height: 66px;
        box-sizing: border-box;
        border-radius: 60px;
        background: $color-text;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        color: $bg-color;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            text-decoration: none;
            color: $color-text;
            background: $bg-color;
        }
    }
}

.of-gemes {
    background-image: url(img/stars2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;

    &__block {
        padding-bottom: 50px;

        &__carts {
            display: flex;
            flex-wrap: nowrap;
            margin-top: 72px;
            column-gap: 32px;

            &__block {
                display: flex;
                flex-wrap: wrap;
                gap: 32px;
            }
        }
    }
}

.games-pc {
    display: none;
}

.block-mod {
    padding-bottom: 144px;

    &__title {
        padding-top: 46px;
        padding-bottom: 72px;
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
        color: $bg-color;
    }

    &__carts {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.mav {
    padding-top: 94px;

    &__title {
        color: $bg-color;
        font-family: Montserrat;
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 24px;
    }

    &__text {
        width: 788px;
        color: $bg-color;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
    }
}

.link {
    text-decoration: none; 
    display: block;
    transition: transform 0.3s ease;

    &:hover {
        text-decoration: none;
        transform: scale(1.06);
    }

    &__card {
        width: 378px;
        background: $bg-color;
        border-radius: 30px;

        &__img {
            border-radius: 30px;
            width: 100%;
            height: 100%;
        }

        &__text {
            padding: 32px;
            box-sizing: border-box;

            &__number {
                color: $color-text;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 500;
                line-height: 110%;
                letter-spacing: 0px;
                border-radius: 52.58px;
                background: rgb(247, 247, 247);
                width: 108px;
                height: 36px;
                border: none;
                margin-bottom: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            } 
            
            &__title {
                font-family: Montserrat;
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                text-align: left;
                color: $color-text;
            }
        }
    }
}

.link-a {
    display: flex;

    &:hover {
        transform: none;
    }
}


.article__card {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: $bg-color;

    &:hover {
        transform: none;
    }

    &__img {
        border-radius: 30px;
        width: 50%;
        height: 100%;
    }

    &__text {
        padding: 48px;
        width: 100%;

        &__number {
            display: none;
        }

        &__title {
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
            text-align: left;
        }

        &__text {
            width: 497px;
            padding-top: 24px;
            padding-bottom: 36px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: $color-text;
        }

        &__number-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 600;
            line-height: 141.69%;
            text-align: center;
            color: $bg-color;
            width: 247px;
            height: 66px;
            background-color: $color-text;
            box-sizing: border-box;
            border: 1px solid $color-text;
            border-radius: 60px;

            &:hover {
                color: $color-text;
                background-color: $bg-color;
            }
        }
    }
}

.article__card-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.footer {
    background-color: $foot-bg;
    color: $color-text;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 60px;
}

@import 'tablet';

@import 'mobail';
